# {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
       
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

}

.form {
    width: 450px;
    height: 450px;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 40px;

}

.form_input {
    margin-bottom: 30px;
}

.form-check1 {
    margin-bottom: 10px;
}

header {
    color: royalblue;
    margin-top: 30px;
    font-family: cursive;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;

   }

footer {
    color: firebrick;
    margin-inline: 60px;
    padding: auto;
    font-family: cursive;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;

}